$blue: #0079ff;
$blueHover: #60abff;
$grey: #697c9a;
$greyBlue: #4b6a9b;
$darkBlue: #2b3442;
$veryLightGrey: #f6f8ff;
$white: #fff;
$veryDarkBlue: #141d2f;
$red: #f74646;

$titleFontSize: 26px;
$subtitleFontSize: 22px;
$bodyFontSize: 15px;

$semiBold: 400;
$bold: 700;
