@import "../../Variables/Variables.module.scss";
.wrapper {
  padding: 24px;
  max-width: 327px !important;
  margin-top: 16px;
  background: $white;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.card {
  display: flex;
}
.name {
  color: $darkBlue;
  font-weight: 700;
  font-size: 16px !important;
  line-height: 24px;
}
p,
a {
  color: $greyBlue;
}
a:hover {
  text-decoration: underline;
}
.login {
  color: $blue;
  font-weight: 400;
}

.bio {
  width: 100%;
  margin: 34px 0 23px 0;
}

.block {
  background-color: $veryLightGrey;
  display: flex;
  border-radius: 10px;
  margin-bottom: 24px;
  div {
    width: 100%;
    padding: 9px;
    text-align: center;
    h1 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 8px;
    }
  }
}
.footer_item {
  display: flex;
  margin-bottom: 17px;
}
.icon {
  height: 21px;
  margin-right: 20px;
}
.twitter {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 100% !important;
    padding: 40px;

    .card .name {
      font-size: 26px !important;
    }
    p {
      font-size: 16px;
    }
    .card img {
      width: 117px;
      height: 117px;
      margin-right: 41px;
    }
    .bio {
      margin-top: 24px;
    }
    h1 {
      font-size: 22px !important;
    }
    .footer {
      display: grid;
      grid-template-columns: 1fr auto;
    }
  }
}

@media (min-width: 1240px) {
  .wrapper {
    width: 730px;
    height: 444px;
    .card img {
      margin-right: 7%;
    }
    .block,
    .bio,
    .footer {
      width: 75%;
      margin-left: 25%;
    }
    .bio {
      margin-top: -20px;
    }
    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
